name: CI - Tests, Docker Build & Deploy (Container)

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test_and_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests + coverage
        run: |
          pytest --disable-warnings --maxfail=1 --cov=.

  build_push_and_update_container:
    needs: test_and_build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: |
          echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build Docker image
        run: |
          docker build -t gvega2212/moviewatchlist:latest .

      - name: Push image
        run: |
          docker push gvega2212/moviewatchlist:latest

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: moviewatchlist-web
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: gvega2212/moviewatchlist:latest
